<footer>
  <nav>
    <ul>
      <li class="payment_icons paypal"><i class="fa fa-paypal" aria-hidden="true"></i></li>
      <li class="payment_icons stripe"><i class="fa fa-cc-stripe" aria-hidden="true"></i></li>
      <li class="payment_icons stripe"><i class="fa fa-credit-card-alt" aria-hidden="true"></i></li>
    </ul>
  </nav>
</footer>