<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rickamu Exchange | <%= title %></title>
  <link rel="shortcut icon" href="/images/Screenshot 2023-08-27 004258.jpg" type="image/x-icon">
  <link rel="stylesheet" href="/lib/css/style.css">
  <script src="https://kit.fontawesome.com/68653111d2.js" crossorigin="anonymous"></script>

</head>