<header>
  <a href="/"><img class='logo' src="/images/Screenshot 2023-08-27 004258.jpg" width="30px" height="30px"  alt="logo"></a>
  <nav>
    <ul>
      <li><a href="/buy">Buy</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>