<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/header.ejs') %>
      <main>
        <nav></nav>
        <section>
          <div></div>
          <div></div>
        </section>
      </main>
      <%- include('./partials/footer.ejs') %>
  </body>

</html>